<nav class="navbar navbar-expand px-2">
    <!--Menú de Hamburguesa-->
    <div class="side-nav-button p-2 me-3 text-light" (click)="SideNavToggle()">
        <i class="fa-solid fa-bars"></i>
    </div>
    <!--Barra de búsqueda de canciones-->
    <form class="d-flex search-bar mx-auto">
        <input class="form-control me-2" type="search" placeholder="Buscar canción por nombre o artista...">
        <button class="btn btn-outline-light" type="submit">Buscar</button>
    </form>
    <!--Carrito de compras-->
    <div class="car p-2 text-light">
        <i class="fa-solid fa-cart-shopping"></i>
    </div>
    
</nav>
