<div class="container-fluid g-0">
  <app-header [showElements]="['logo', 'cart']" headerClass="header-carrito"></app-header>
    <main>
      <div class="display-area p-4">
        <div class="row bread">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item m-1"><a routerLink="/">Inicio</a></li>
              <li class="breadcrumb-item active m-1" aria-current="page">Carrito</li>
            </ol>
          </nav>
        </div>
        <div class="divider-line"></div>
            El carrito funciona!!!
      </div>
    </main>
  </div>
  
