<div class="container-fluid g-0">
  <app-header [showElements]="['logo', 'cart']" headerClass="header-carrito"></app-header>
    <main>
      <div class="display-area p-4">
        <div class="row bread">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item m-1"><a routerLink="/">Inicio</a></li>
              <li class="breadcrumb-item active m-1" aria-current="page">Carrito</li>
            </ol>
          </nav>
        </div>
        <h1 class="titulo mt-3">LISTA DE PEDIDOS</h1>
        <div class="divider-line"></div>
        <div class="d-flex justify-content-between">
          <div></div>
          <a routerLink="/" type="button" class="btn btn-dark"><i class="fa-solid fa-arrow-left"></i> Regresar</a>
        </div>

        <div *ngIf="canciones.length > 0; else noSongs">
          <div class="row mt-3">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-5" *ngFor="let cancion of canciones">
                <div class="card">
                  <div class="card-header">Karaoke IA</div>
                  <div class="card-body">
                    <h5 class="card-title">{{ cancion.cancion_nombre }}</h5>
                  </div>
                  <div class="card-footer">{{ cancion.artista }}</div>
                </div>
              <div class="d-flex justify-content-left mt-3">
                <button class="btn btn-danger btn-eliminar" (click)="removeFromCart(cancion)"><i class="fa-solid fa-circle-minus"></i> Eliminar</button>
              </div>
            </div>
          </div>
        </div>

        <ng-template #noSongs>
          <div class="col-12 mt-4" id="noResults">
            <p>Tu carrito de compras esta vacio!</p>
            <img src="../../assets/img/cart.png" alt="carrito de compras" width="350px">   
          </div>
        </ng-template>

        <div class="divider-line"></div>

        <div class="d-flex justify-content-center mt-3">
          <button class="btn btn-success btn-responsive" [disabled]="canciones.length === 0" (click)="sendCartByWhatsApp()">
            <i class="fa-solid fa-paper-plane"></i> Enviar lista de pedidos
          </button>
        </div>
      </div>
    </main>
</div>
  
