<div class="container-fluid g-0">
    <app-header [showElements]="['logo']" headerClass="header-carrito"></app-header>
      <main>
        <div class="display-area p-4">
          <h1 class="titulo mt-3">¡ERROR 404!</h1>
          <div class="divider-line"></div>
          <div class="col-12" id="noResults">
            <p >Lo sentimos, no se encontro la página que esta buscando.</p>
            <img src="../../assets/img/mariachi-2.gif" alt="mariachi sorprendido" width="500px">   
          </div>

          <div class="d-flex justify-content-center mt-3">
            <a type="button" routerLink="/" class="btn btn-dark btn-responsive"><i class="fa-solid fa-arrow-left"></i> Regresar al Inicio</a>
          </div>

        </div>
      </main>
  </div>