<div class="container-fluid g-0">
  <app-header (sideNavToggled)="sideNavStatus = $event;"></app-header>
  <main>
    <app-sidenav [sideNavStatus]="sideNavStatus" [ngClass]="{'app-sidenav-open':sideNavStatus}" (tagsSelected)="onTagsSelected($event)"></app-sidenav>
    <div class="display-area p-4" [ngClass]="{'display-area-shrink':sideNavStatus}">
      <div class="row m-3 mb-5">
        <div class="col-md-4">
          <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown link
            </a>
          
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown link
            </a>
          
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown link
            </a>
          
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <ng-container *ngIf="!isFiltered">
          <div class="col-md-3 mb-5" *ngFor="let cancion of canciones | paginate: {itemsPerPage: 12, currentPage: page}">
            <app-card-song [cancion]="cancion"></app-card-song>
          </div>
        </ng-container>
        <ng-container *ngIf="isFiltered && !noResults">
          <div class="col-md-3 mb-5" *ngFor="let cancionTag of cancionesByTags | paginate: {itemsPerPage: 12, currentPage: page}">
            <app-card-song [cancionTag]="cancionTag"></app-card-song>
          </div>
        </ng-container>
        <ng-container *ngIf="isFiltered && noResults">
          <div class="col-12">
            <p id="noResults">Lo sentimos, no se encontraron resultados de búsqueda con los filtros seleccionados.</p>
          </div>
        </ng-container>
      </div>
      <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
    </div>
  </main>
</div>
<router-outlet />
