<div class="side-nav-content">
    <ul class="nav-list" [ngClass]="{'nav-list-open': sideNavStatus}">
      <li class="nav-list-item" *ngFor="let item of list">
        <div (click)="toggleSubmenu(item)" [class.nav-item-header-open]="sideNavStatus"  class="nav-item-header">
          <i class="{{item.icon}}"></i>
          <span>
            <a href="#">{{item.name}}</a>
          </span>
        </div>
        <ul class="sub-nav-list" *ngIf="item.open">
          <li class="sub-nav-list-item" *ngFor="let subItem of item.subItems">
            <ng-container *ngIf="item.name && (item.name.toLowerCase() === 'genero' || item.name.toLowerCase() === 'ritmo'); else checkboxTemplate">
              <input type="radio" [id]="subItem.name" [name]="item.name" [value]="subItem.name" class="form-check-input" (click)="getCancionesByTags(subItem.id)">
              <label [for]="subItem.name" class="form-check-label">{{subItem.name}}</label>
            </ng-container>
            <ng-template #checkboxTemplate>
              <input type="checkbox" [id]="subItem.name" [name]="subItem.name" [value]="subItem.name" class="form-check-input" (click)="getCancionesByTags(subItem.id)">
              <label [for]="subItem.name" class="form-check-label">{{subItem.name}}</label>
            </ng-template>
          </li>
        </ul>
      </li>
    </ul>
  </div>
 
  