html, body {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
}
body {
    background: #e65c00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #b1950d, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
  