<div class="container-fluid g-0">
  <app-header [showElements]="['menuButton', 'logo', 'search', 'cart']" (sideNavToggled)="sideNavStatus = $event;" (search)="onSearch($event)"></app-header>
  <main>
    <app-sidenav [sideNavStatus]="sideNavStatus" [ngClass]="{'app-sidenav-open': sideNavStatus}" (tagsSelected)="onTagsSelected($event)"></app-sidenav>
    <div class="display-area p-4" [ngClass]="{'display-area-shrink': sideNavStatus}">
      <div class="row bread">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active m-1" aria-current="page">Inicio</li>
          </ol>
        </nav>
      </div>

      <div class="row mt-3">
        <div class="col-12 col-sm-6 col-md-4 mb-3" *ngFor="let item of list">
          <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle w-50" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{item.name}}</a>
            <ul class="dropdown-menu w-50" >
              <ng-container *ngIf="item.name && (item.name.toLowerCase() === 'genero' || item.name.toLowerCase() === 'ritmo'); else checkboxTemplate">
                <li class="sub-nav-list-item">
                  <a class="dropdown-item" (click)="clearFilters(item.name)" [ngClass]="{'selected-option': isAllSelected(item.name)}">Todos</a>
                </li>
                <li *ngFor="let subItem of item.subItems">
                  <a name="" class="dropdown-item" (click)="onTagChange($event, subItem.id, item.name)" [ngClass]="{'selected-option': subItem.selected}">{{subItem.name}}</a>
                </li>
              </ng-container>
              <ng-template #checkboxTemplate>
                <li *ngFor="let subItem of item.subItems">
                  <input type="checkbox" [id]="subItem.name" [name]="subItem.name" [value]="subItem.name" class="form-check-input" [checked]="subItem.selected" style="margin-left: 5px;" (click)="onTagChange($event, subItem.id, item.name)">
                  <label [for]="subItem.name" class="form-check-label" style="margin-left: 5px;">{{subItem.name}}</label>
                </li>
              </ng-template>
            </ul>
          </div>
        </div>
      </div>

      <div class="divider-line"></div>
      <div class="row" [ngClass]="{'card-container-menu-open': sideNavStatus}">
        <ng-container *ngIf="!isFiltered">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-5" *ngFor="let cancion of canciones | paginate: { itemsPerPage: 12, currentPage: page }">
            <app-card-song [cancion]="cancion"></app-card-song>
          </div>
        </ng-container>
        <ng-container *ngIf="isFiltered && !noResults">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-5" *ngFor="let cancionTag of cancionesByTags | paginate: { itemsPerPage: 12, currentPage: page }">
            <app-card-song [cancionTag]="cancionTag"></app-card-song>
          </div>
        </ng-container>
        <ng-container *ngIf="isFiltered && noResults">
          <div class="col-12" id="noResults">
            <p>Lo sentimos, no se encontraron resultados de búsqueda.</p>
            <img src="../assets/img/mariachi.gif" alt="mariachi llorando">
          </div>
        </ng-container>
      </div>
      <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente" *ngIf="!noResults" class="pagination"></pagination-controls>
    </div>
  </main>
</div>

<!-- Barra de búsqueda -->
<div>
  <input type="text" placeholder="Buscar canciones..." (input)="onSearch($event)">
</div>
